body {
  margin: 0;
  padding: 2rem;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont;
  color: #111324;
}

.bento-wrapper {
  container-type: inline-size;
  container-name: bento;
  max-width: 1100px;
  margin-inline: auto;
}

.bento {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(140px, auto);
  gap: 1rem;
}

.card {
  --base: var(--bg);
  --light: color-mix(in oklch, var(--base), white 62%);
  --text: color-mix(in oklch, var(--base), black 60%);

  position: relative;
  background: linear-gradient(160deg, var(--light), var(--base));
  border-radius: 1.25rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  will-change: transform;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-2px);
  }

  & i {
    font-size: 4rem;
    width: fit-content;
    background-color: var(--base);
    border-radius: 10px;
    padding: 0.3rem;
    aspect-ratio: 1;

    .card:not(.span-2) & {
      font-size: 2rem;
    }
  }
  
  & .tag {
    --light: color-mix(in oklch, var(--base), white 70%);
    position: absolute;
    right: 1.25rem;
    font-weight: 700;
    font-size: 0.85rem;
    color: var(--text);
    padding: 0.5rem 0.8rem;
    background-color: var(--light);
    border-radius: 14px;
    transition: transform .5s;
    transition-delay: 0.15s;
    
    .card:hover & {
      transform: translateY(-2px);
    }
  }

  & h2,
  & h3 {
    margin: 0;
    font-size: clamp(0.85rem, 2cqw, 1.4rem);
    font-weight: 600;

    .card:not(.span-2) & {
      font-size: clamp(0.85rem, 1.5cqi, 1.2rem);
    }
  }

  & .price {
    font-size: clamp(1rem, 4cqw, 3rem);
    font-weight: 700;
    margin: 0;

    .card:not(.span-2) & {
      font-size: clamp(1rem, 2cqi, 1.5rem);
    }
  }

  & small {
    font-size: clamp(0.7rem, 1.5cqw, 0.9rem);
    color: #4b4f61;
    font-weight: 500;
  }

  &.span-2 {
    grid-column: span 2;

    &.span-2 {
      grid-row: span 2;
    }
  }
}

@container bento (max-width: 800px) {
  .bento {
    grid-template-columns: repeat(2, 1fr);
  }
}

@container bento (max-width: 420px) {
  .bento {
    grid-template-columns: 1fr;
  }
}
</style>